/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
    font-size: 16px;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}



label{
    cursor: pointer;
    display: inline-block;
    min-width: 140px;
    vertical-align: top;
}

.form-input{
    width: 300px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* header  */
.nav {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #4D7298;
  transform: translateX(-350px);
  transition: transform 0.2s;
  z-index: 99999999999;
}


.nav-close{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 15px 25px;
  color: #dddddd;
  cursor: pointer;
}

.main {
  transition: transform 0.2s;   
  position:absolute; top: 100; left: 100;
  z-index: 2" 
}

.nav-open .nav {
  transform: translateX(0);
}
.nav-open .main {
transform: translateX(350px);
}

.nav-links-container {
  box-shadow: 0 -10px 10px rgb(0, 0, 0, 0.15) ;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  text-decoration: none;
  color: #dddddd;
}
.nav-text {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.nav-link:hover,
.nav-close:hover {
  background: rgb(255, 255, 255, 0.05);
}

.button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  color: #ffffff;
}

/* footer */
.containerFooter{
  max-width: 1170px;
  margin: auto;
}

.rowFooter{
  display: flex;
  flex-wrap:wrap;
}
.ulFooter{
  list-style: none;
}

.Footer{
  background-color: #000;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #F2EDE4;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

tr:nth-child(odd)
{
  background-color:#77A6B6;
}

tr:first-child
{
  background-color:#4D7298;
}

tr{
  background-color: #9DC3C2;
}

tr:hover
{
  background-color:#4D7298;
  color: black;
}

table{
  width: 100%;
  margin: 0 auto;
}

.stylele{
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px black;
  background-color: rgba(128, 128, 128, 0.258);
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  
}

.leftContainer p{
  word-wrap: break-word;
  max-width: 200px;
}

.tasksContainer{
  display: flex;
  justify-content: space-between;
}

.dividerTask{
  margin-left: 40px;
  margin-right: 40px;
}

.notes img{
  width: 25px;
  opacity: 80%;
}

.login img{
  width: 25px;
  opacity: 80%;
}

.account img{
  width: 25px;
  opacity: 80%;
}

.add img{
  width: 25px;
  opacity: 80%;
}

.edit img{
  width: 25px;
  opacity: 80%;
}


.stylele p{
  font-size: 18px;
}

.stylele h1{
  font-weight: bold;
}

.stat p{
  font-weight: bold;
}

.bigfoot{
  padding-top: 100px;
}

.bigH{
  font-size: 10px;
  text-align: center;
}

.S1{
  color: red;
  text-decoration:underline;
}

/* logo */
.Logo_box{
  background-image: url('../img/Pretparkvakanties_D.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.Logo_box img{
  width: 300px;
  height: 300px;
}

/* Mijn Account */
.topContainer{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.welcomeMessage{
  display: flex;
  flex-direction: column;
}

.welcomeMessage p{
  font-size: 1.1em;
  margin-top: -18px;
  color: #999999c2;
  transition: all 0.2s ease-in;
}

.welcomeMessage p:hover{
  font-size: 1.1em;
  margin-top: -18px;
  color: #818181;
  transition: all 0.2s ease-in;
}

.topContainer a{
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #4d7398bd;
  align-self: center;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.topContainer a:hover{
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #4D7298;
  align-self: center;
  text-decoration: underline;
  transition: all 0.2s ease-in;
}

.bodyContainer{
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  margin-bottom: 50px;
}

.userInformationBox{
  border-radius: 5px;
  width: 80%;
  height: 500px;
  background-color: #9999996e;
  box-shadow: 2px 2px 2px 0px #222;
  margin-right: 20px;

}

.userInformationBox h3{
  margin-left: 15px;
}

.linksBox{
  border-radius: 5px;
  width: 20%;
  height: 400px;
  background-color: #9999996e;
  box-shadow: 2px 2px 2px 0px #222;
  margin-right: 20px;
}

.linksBox h3{
  margin-left: 15px;

}

.linkList{
  margin-left: 15px;
}

.linksBox{
  display: none;
}


@media screen and (min-width: 768px) {
  .linksBox {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .formGroupEdit input {
    width: 230px;
  }
  .bigH{
    width: 230px;
  }
  .stylele{
    width: 350px;
    .leftContainer p, .titleTask,  .exemption{
      display: none;
    }
    .dividerTask{
      width: 0px;
    }

  }
}


.linkGroup{
  margin-bottom: 10px;
}

.linkGroup a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;

}

.linkGroup img{
  opacity: 50%;
  transition: all 0.2s ease-in;
}

.linkGroup:hover a{
  text-decoration: underline;
  color: rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in;
}

.linkGroup:hover img{
  opacity: 100%;
  transition: all 0.2s ease-in;
}

.informationContainer{
  margin-left: 17px;
}

.mainInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boldSpan{
  font-weight: 900;
}

.userInformationBox a{
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #4d7398bd;
  text-decoration: none;
  transition: all 0.2s ease-in;
  margin: 15px;
} 

.userInformationBox a:hover{
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #4D7298;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  margin: 15px;
} 

.formGroupEdit{
  margin-bottom: 16px;
}

.confirmButton{
  border: none;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #4d7398bd;
  text-decoration: none;
  transition: all 0.2s ease-in;
  margin: 15px;
}

.confirmButton:hover{
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #4D7298;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  margin: 15px;
}

.form-group
{

    padding: 10px; 
}
.form-group input[type="submit"]{
  background: transparent;
  border: none;
  font-size: medium;
  transition:0.4s;
  color: white;
}

.form-group input[type="submit"]:hover{
  transition: 0.4s;
  background-color: white;
  color: #4D7298;
  padding: 10px;
  border-radius: 10px;
}

.wrapper form{
  border-color: #9DC3C2;
  padding: 10px;
  background-color: #4D7298; 
  border: 3px;
  border-radius: 10px;
}

.form-group label{
  color: white;
}

.taskForm{
  margin-bottom: 50px;
}

.containerForm{
  margin-bottom: 50px;
}

.linkClass{
  display: flex;
  justify-content:center;
}